.message-container {
    display: flex;
    padding: 2px 0px;
    margin-right: 20px;
    justify-content: flex-start;
}

.sent-by-me {
    justify-content: flex-end;
}

.message {
    font-size: 15px;
    background-color: #ecf0f1;
    padding: 8px 12px;
    border-radius: 20px;
    display: flex;
    justify-content: flex-start;
    max-width: 600px;
}

.sent-by-me .message {
    color: white;
    background-color: #0084ff;
}

.message-user-avatar {
    display: block;
    margin-left: 8px;
    margin-right: 10px;
}

.message-media {
    border-radius: 10px;
}