.chat-header-container {
    display: flex;
    align-items: center;
    padding: 10px 12px;
    box-shadow: rgb(149 157 165 / 20%) 0px 4px 10px 0px;
    margin-bottom: 10px;
}

.chat-header-title {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

.chat-conversation-name {
    font-size: 15px;
    font-weight: 400;
    color: #050505;
    font-weight: 500;
}

.chat-conversation-age {
    font-size: 13px;
    color: #67676B;
}

.chat-header-members {
   display: flex; 
}

.chat-header-member-avatar {
    background-color: #aaa;
    display: block;
}